{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    <h1>Edit page</h1>

    <form method="post" action="/edit/{{entry}}">
        {% csrf_token %}
        <input type="text" autocomplete="off"  name="title" placeholder="Page title" value={{entry}}>
        <br><br>

        <textarea id="text" name="content" rows="4" cols="50" placeholder="New page text in Markdown language. Click save page below to upload your content creation." required>{{ content }}</textarea>
        <br><br>

        <input type="submit" value="Save page">
    </form>
{% endblock %}