{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit page
{% endblock %}

{% block body %}
    <h1>Edit page</h1>

    {% if message %}
        {{ message }}

        You might have tried to recreate the page below. <br>
        <li><a href=/wiki/{{ title }}>{{ title }}</a></li>
    
    {% else %}

        <form method="post" action="/edit">
            {% csrf_token %}
            <input type="text" autocomplete="off"  name="title" placeholder="Page title" required>
            <br><br>

            <textarea id="text" name="content" rows="4" cols="50" placeholder="New page text in Markdown language. Click save page below to upload your content creation." required>
            </textarea>
            <br><br>

            <input type="submit" value="Save page">
        </form>
    {% endif %}

{% endblock %}